<h2 mat-dialog-title>Festkartenpreise</h2>
<mat-dialog-content class="mat-typography">
  <div class="info-grid">
    <div><strong>Teilnehmer</strong></div>
    <div><strong>Begleitperson</strong></div>
    <div>3 Tage ZVV Ticket, Shuttle</div>
    <div>3 Tage ZVV Ticket, Shuttle</div>
    <div>1 Mitagessen, 1 Mineralwasser</div>
    <div>1 Mitagessen, 1 Mineralwasser</div>
    <div>Musikwettbewerb, Lokale, Jury, Organisaton, Anlässe</div>
    <div>Zutritt zu allen Anlässen</div>
    <div><strong>CHF 80.00</strong></div>
    <div><strong>CHF 50.00</strong></div>
    <img src="/assets/festkarte-1.jpg" alt="Festkarte Teilnehmer"/>
    <img src="/assets/festkarte-2.jpg" alt="Festkarte Begleitperson"/>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" mat-dialog-close>Schliessen</button>
</mat-dialog-actions>
