<h2 mat-dialog-title>Allgemeine Informationen</h2>
<mat-dialog-content class="mat-typography">
  <p>Herzlich willkommen bei der Anmeldung für das ZKMF 2024</p>
  <p>Wir freuen uns auf eure Teilnahme am ZKMF 2024. Unser Musikfest bietet eine
    riesige Bandbreite an Teilnahmemöglichkeiten. Egal ob Wettspiel, Parademusik oder
    Platzkonzert, egal ob Harmonie, Brass Band, Tambouren oder
    Perkussionsensembles: für jede Formation gibt es eine Möglichkeit, mitzuwirken.
    Optimale Infrastruktur, tolle Jury-Teams sowie ein fetziges Rahmenprogramm
    werden am Festwochenende zur Verfügung stehen</p>

  <h2>Wettspiele / Pflichtstücke / Reglemente</h2>
  <p>
    Bei den Wettspielen wird das Pflichtstück in ein Selbstwahlprogramm integriert.
    Nebst dem Pflichtstück wird der musikalische Vortrag frei gestaltet. Dank
    Selbstwahlprogrammen kann sich jeder Verein sein optimales Wettspielprogramm
    zusammenstellen und seine Stärken ideal ins Zentrum rücken. Der Vortrag soll wie
    ein Konzert wirken. Dabei muss die Länge des Programms beachtet werden
    (Zeitmessung).<br/>
    Das Feedback nach den Wettspielen erfolgt nicht nur schriftlich sondern auch
    mündlich. Alle Formationen erhalten von einem Mitglied des Jury-Teams unmittelbar
    nach dem Vortrag eine direkte Rückmeldung in einem Jurygespräch.</p>
  <p>
    Eine Übersicht zu den Pflichtstücken sowie Aufnahmen und Mini-Scores
    gibt es <a href="https://www.zkmf2024.ch/pflichtstuecke/" target="_blank">hier</a>.
  </p>
  <p>
    Hier wird ganz viel neu komponierte Musik zum Klingen gebracht. Aber
    auch viele tolle bestehende Werke werden Vereine und Publikum
    mitreissen.
  </p>
  <p>
    <strong>WICHTIG</strong>: das Pflichtstück müsst ihr NICHT selbst bestellen. Es wird euch
    automatisch nach Anmeldeschluss (30.6.2023) vom Verlag zugeschickt.
  </p>
  <p>
    Genauere Informationen zu den Wettspielen findet ihr in unseren Festreglementen:
  </p>
  <ul>
    <li><a href="https://www.zkmf2024.ch/reglement/festreglement.pdf" target="_blank">Festreglement für
      Kantonalmusikfeste</a></li>
    <li><a href="https://www.zkmf2024.ch/reglement/festreglement-parademusik.pdf" target="_blank">Festreglement für
      Parademusik</a></li>
    <li><a href="https://www.zkmf2024.ch/reglement/festreglement-tambouren.pdf" target="_blank">Festreglement für
      Tambouren</a></li>
    <li><a href="https://www.zkmf2024.ch/reglement/festreglement-perkussionsensembles.pdf" target="_blank">Festreglement
      für Perkussionsensembles</a></li>
  </ul>

  <h2>Anmeldetool</h2>
  <p>Das Anmeldetool wird laufend erweitert. Alle relevanten Daten werden durch den Verein gemäss Zeitplan
    eingespeist:</p>
  <ul>
    <li>Phase 1 bis 30.06.2023: Anmeldung der Stammdaten</li>
    <li>Phase 2 bis 30.09.2023: Anmelden der Wettspielprogramme (Komponist, Arrangeur, Dauer, Reihenfolge usw.)</li>
    <li>Phase 3 bis 01.04.2024: konkrete Besetzung, Anzahl Personen, Anreise, Festkarten, Essen, Infrastruktur,
      Orchesteraufstellung sowie benötigtes Material auf der Bühne
    </li>
  </ul>

  <p>
    Bei Fragen oder Unklarheiten zögert bitte nicht uns zu kontaktieren: <a href="mailto:info@zkmf2024.ch">info@zkmf2024.ch</a>
  </p>
  <p>Wir freuen uns schon jetzt, euch vom 21. - 23. Juni 2024 in Urdorf und Schlieren begrüssen zu dürfen!</p>
  <p>OK ZKMF &amp; ZBV</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary" mat-dialog-close>Schliessen</button>
</mat-dialog-actions>
