<div>
  <app-header header="Neues Passwort setzen"></app-header>

  <mat-card appearance="outlined" *ngIf="!success">
    <mat-card-content>
      <div class="container">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Neues Passwort</mat-label>
          <input type="password"
                 autocomplete="off"
                 matInput
                 name="password"
                 id="password"
                 required
                 [(ngModel)]="password"/>
        </mat-form-field>
        <app-action-button buttonLabel="Neues Passwort setzen" [processing]="processing"
                           (buttonClicked)="resetPassword()"></app-action-button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="success">
    <mat-card-content>
      <p>Passwort wurde erfolgreich geändert. Zum <a [routerLink]="loginUrl">Login</a></p>
    </mat-card-content>
  </mat-card>
</div>
