@use "../../variables";
@import "../../responsive";

.header-logo {
  max-height: 80%;
  margin-right: variables.$padding;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

@include responsive('lt-sm') {
  .header-logo {
    display: none;
  }
}
