<div>
    <!-- TODO remove the next line and the wrapping div, as it is only for testing-->
    <p><button id="init" (click)="testWasmAddToCanvas()"><strong>Add to canvas</strong></button>&nbsp;&nbsp;<button id="init-with-data" (click)="testWasmAddToCanvasWithData()"><strong>Add to canvas with data</strong></button></p>
    <p><button id="set-data" (click)="testWasmSetData()"><strong>Set loaded data</strong></button>&nbsp;&nbsp;<button id="reset-data" (click)="testWasmResetData()"><strong>Reset data</strong></button>&nbsp;&nbsp;<button id="read-data" (click)="testWasmGetData()"><strong>Read data (check logs)</strong></button></p>
    <div style="width: 1600px; height: 700px; position: relative">
        <canvas id="stage_canvas"></canvas>
    </div>
</div>
