<div>
  <app-header header="ZKMF2024 - Vereinsbereich"></app-header>
  <div class="loading-indicator">
    <mat-progress-bar mode="indeterminate" color="accent"
                      *ngIf="loading()"></mat-progress-bar>
  </div>

  <div class="container">
    <div class="info-container">
      Bitte ein Gerät mit einer höheren Auflösung verwenden.
    </div>

    <h2>Bühnenplan</h2>

    <div class="actions-container">
      <button mat-stroked-button
              (click)="navigateBack()">zurück
      </button>

      <app-action-button buttonLabel="Speichern"
                         [processing]="saving()"
                         (buttonClicked)="save()"></app-action-button>
    </div>

    <div class="stage-canvas-container">
      <canvas [id]="canvasId"></canvas>
    </div>
  </div>
</div>
