@use "../../variables";
@use "../../responsive";

$canvas-width: 1280px;
$canvas-height: 600px;

.container {
  padding: variables.$padding;

  .actions-container {
    display: flex;
    gap: variables.$padding;
    align-items: baseline;
    padding-bottom: variables.$padding;

    a {
      margin-left: 120px;
      color: variables.$blau;
    }
  }

  @media screen and (min-width: ($canvas-width + (2 * variables.$padding))) {
    .info-container {
      display: none;
    }
  }

  .info-container {
    padding: variables.$padding;
    border: solid 1px variables.$gelb;
    background-color: variables.$gelb-transparent;
    margin-bottom: variables.$padding;
  }

  .form-layout {
    margin-top: variables.$padding;
  }

  .help-container {
    padding: variables.$padding;
    border: solid 1px variables.$blau;
    background-color: variables.$blau-transparent;
    margin-top: variables.$padding;
  }

  .stage-canvas-container {
    width: $canvas-width;
    height: $canvas-height;
    position: relative;
    max-width: 100%;
  }
}

.loading-indicator {
  height: 4px;
}
