<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Vereinsangaben</mat-panel-title>
      <mat-panel-description>
        <app-validation-state [valid]="verein.angaben.valid"></app-validation-state>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="form-layout">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.email"
               (ngModelChange)="onChange()"
               disabled="true">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Vereinsname</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.vereinsname"
               (ngModelChange)="onChange()"
               required
               maxlength="255">
      </mat-form-field>
    </div>

    <div class="form-layout">
      <mat-form-field appearance="outline">
        <mat-label>Adresse</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.adresse"
               (ngModelChange)="onChange()"
               maxlength="255">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>PLZ</mat-label>
        <input type="number"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.plz"
               (ngModelChange)="onChange()"
               required
               maxlength="4"
               min="0" max="9999">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ort</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.ort"
               (ngModelChange)="onChange()"
               required
               maxlength="255">
      </mat-form-field>
    </div>
    <div class="form-layout">
      <mat-form-field appearance="outline">
        <mat-label>Homepage</mat-label>
        <input type="url"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.homepage"
               (ngModelChange)="onChange()"
               maxlength="255">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>PC/IBAN</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.iban"
               (ngModelChange)="onChange()"
               maxlength="255">
      </mat-form-field>
    </div>

    <div class="form-layout">
      <mat-checkbox [(ngModel)]="verein.angaben.direktionDoppeleinsatz"
                    (ngModelChange)="direktionDoppeleinsatzChanged($event)">
        Dirigent/in: Teilnahme mit einem weiteren Verein
      </mat-checkbox>
      <mat-form-field appearance="outline">
        <mat-label>Vereinsname</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [(ngModel)]="verein.angaben.direktionDoppeleinsatzVerein"
               (ngModelChange)="onChange()"
               maxlength="255"
               [disabled]="!verein.angaben.direktionDoppeleinsatz">
      </mat-form-field>
    </div>

    <div class="form-layout padding-bottom">
      <mat-checkbox [(ngModel)]="verein.angaben.mitspielerDoppeleinsatz"
                    (ngModelChange)="onChange()">
        Musikant/innen: Doppelteilnahme <span class="mat-caption">(Doppelteilnahmen von Musikanten/Musikantinnen können nicht zwingend berücksichtigt werden!)</span>
      </mat-checkbox>
    </div>

    <app-action-button buttonLabel="Speichern"
                       [processing]="saving"
                       [disabled]="!unsavedChanges"
                       (buttonClicked)="saveVereinsangaben()"></app-action-button>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Anmeldung</mat-panel-title>
      <mat-panel-description>
        <app-validation-state [valid]="verein.anmeldung.valid"></app-validation-state>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="anmeldung-container">

      <div class="selection">
        <div><span class="mat-headline-6">Modul</span><br/>(mindestens ein Modul auswählen)</div>

        <mat-checkbox [(ngModel)]="verein.anmeldung.modulA"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="onChange()">A - Konzertmusik
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulB"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="onChange()">B - Unterhaltungsmusik
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulC"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="onChange()">C - Platzkonzerte
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulD"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="onChange()">D - Parademusik traditionell
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulE"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="onChange()">E - Parademusik mit Evolutionen
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulF"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="onChange()">F - Hallen-/Rasenshow
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulG"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="modulTambourenChanged($event)">G - Tambouren
        </mat-checkbox>
        <mat-checkbox [(ngModel)]="verein.anmeldung.modulH"
                      [disabled]="anmeldungDisabled"
                      (ngModelChange)="modulPerkussionsensChanged($event)">H - Perkussionsensembles
        </mat-checkbox>
      </div>
      <div class="selection">
        <div><span class="mat-headline-6">Stärkeklasse</span><br/>&nbsp;</div>
        <div
          *ngIf="!verein.anmeldung.modulA && !verein.anmeldung.modulB && !verein.anmeldung.modulH">
          Bitte ein entsprechendes Modul auswählen
        </div>
        <mat-form-field appearance="outline" *ngIf="verein.anmeldung.modulA">
          <mat-label>Stärkeklasse Modul A</mat-label>
          <mat-select [(ngModel)]="verein.anmeldung.klasseModulA" required
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled">
            <mat-option [value]="HOECHSTKLASSE">Höchstklasse</mat-option>
            <mat-option [value]="KLASSE_1">1. Klasse</mat-option>
            <mat-option [value]="KLASSE_2">2. Klasse</mat-option>
            <mat-option [value]="KLASSE_3">3. Klasse</mat-option>
            <mat-option [value]="KLASSE_4">4. Klasse</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="verein.anmeldung.modulB">
          <mat-label>Stärkeklasse Modul B</mat-label>
          <mat-select [(ngModel)]="verein.anmeldung.klasseModulB" required
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled">
            <mat-option [value]="OBERSTUFE">Oberstufe</mat-option>
            <mat-option [value]="MITTELSTUFE">Mittelstufe</mat-option>
            <mat-option [value]="UNTERSTUFE">Unterstufe</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="verein.anmeldung.modulH">
          <mat-label>Stärkeklasse Modul H</mat-label>
          <mat-select [(ngModel)]="verein.anmeldung.klasseModulH" required
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled">
            <mat-option [value]="OBERSTUFE">Oberstufe</mat-option>
            <mat-option [value]="MITTELSTUFE">Mittelstufe</mat-option>
            <mat-option [value]="UNTERSTUFE">Unterstufe</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="selection">
        <div><span class="mat-headline-6">Besetzung</span><br/>&nbsp;</div>
        <div *ngIf="noModulSelected">
          Bitte ein Modul auswählen
        </div>

        <mat-checkbox *ngIf="harmonieVisible"
                      [(ngModel)]="verein.anmeldung.harmonie"
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled || verein.anmeldung.brassBand || verein.anmeldung.fanfare">
          Harmonie
        </mat-checkbox>
        <mat-checkbox *ngIf="brassBandVisible"
                      [(ngModel)]="verein.anmeldung.brassBand"
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled || verein.anmeldung.harmonie || verein.anmeldung.fanfare">Brass
          Band
        </mat-checkbox>
        <mat-checkbox *ngIf="fanfareVisible"
                      [(ngModel)]="verein.anmeldung.fanfare"
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled || verein.anmeldung.harmonie || verein.anmeldung.brassBand">
          Fanfare
        </mat-checkbox>
        <mat-checkbox *ngIf="tambourenVisible"
                      [(ngModel)]="verein.anmeldung.tambouren"
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled">Tambouren
        </mat-checkbox>
        <mat-checkbox *ngIf="perkussionsensembleVisible"
                      [(ngModel)]="verein.anmeldung.perkussionsensemble"
                      (ngModelChange)="onChange()"
                      [disabled]="anmeldungDisabled">Perkussionsensemble
        </mat-checkbox>
      </div>
    </div>

    <app-action-button *ngIf="!anmeldungDisabled"
                       buttonLabel="Speichern"
                       [processing]="saving"
                       [disabled]="!unsavedChanges"
                       (buttonClicked)="saveAnmeldung()"></app-action-button>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Kontaktangaben - Präsident/in</mat-panel-title>
      <mat-panel-description>
        <app-validation-state [valid]="verein.praesident.valid"></app-validation-state>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-kontakt-form [kontakt]="verein.praesident"
                      (changed)="onChange()"></app-kontakt-form>

    <app-action-button buttonLabel="Speichern"
                       [processing]="saving"
                       [disabled]="!unsavedChanges"
                       (buttonClicked)="save(false)"></app-action-button>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Kontaktangaben - Dirigent/in</mat-panel-title>
      <mat-panel-description>
        <app-validation-state [valid]="verein.direktion.valid"></app-validation-state>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-kontakt-form [kontakt]="verein.direktion"
                      (changed)="onChange()"></app-kontakt-form>

    <app-action-button buttonLabel="Speichern"
                       [processing]="saving"
                       [disabled]="!unsavedChanges"
                       (buttonClicked)="save(false)"></app-action-button>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Vereinsinfo (Website)</mat-panel-title>
      <mat-panel-description>
        <app-validation-state [valid]="verein.info.valid"></app-validation-state>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Vorstellungstext</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="10"
                maxlength="4096"
                required
                [(ngModel)]="verein.info.websiteText"
                (ngModelChange)="onChange()"></textarea>
    </mat-form-field>
    <app-action-button buttonLabel="Speichern"
                       [processing]="saving"
                       [disabled]="!unsavedChanges"
                       (buttonClicked)="save(false)"></app-action-button>
    <div class="upload-container">
      <ngx-dropzone (change)="onDrop($event, true)"
                    [multiple]="false"
                    accept="image/jpeg,image/jpg"
                    [maxFileSize]="maxFileSize"
                    [disabled]="uploading"
                    *ngIf="!verein.info.logoImgId">
        <ngx-dropzone-label>Vereinslogo (max. 1 MB)<br/>(Drag-and-Drop oder hier klicken)</ngx-dropzone-label>
      </ngx-dropzone>

      <div *ngIf="verein.info.logoImgId" class="image-container">
        <mat-icon class="delete-image" color="primary"
                  (click)="deleteImage(verein.info.logoImgId)">delete
        </mat-icon>
        <img [src]="logoImgSrc" alt="Vereinslogo"/>
      </div>

      <ngx-dropzone (change)="onDrop($event, false)"
                    [multiple]="false"
                    accept="image/jpeg,image/jpg"
                    [maxFileSize]="maxFileSize"
                    [disabled]="uploading"
                    *ngIf="!verein.info.bildImgId">
        <ngx-dropzone-label>Vereinsbild (max. 1 MB)<br/>(Drag-and-Drop oder hier klicken)</ngx-dropzone-label>
      </ngx-dropzone>

      <div *ngIf="verein.info.bildImgId" class="image-container">
        <mat-icon class="delete-image" color="primary"
                  (click)="deleteImage(verein.info.bildImgId)">delete
        </mat-icon>
        <img [src]="bildImgSrc" alt="Vereinsbild"/>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
