<div>
  <app-header header="Vereinslogin"></app-header>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Login
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input type="email"
                 autocomplete="off"
                 matInput
                 name="email"
                 id="email"
                 formControlName="email"/>
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Passwort</mat-label>
          <input type="password"
                 autocomplete="off"
                 matInput
                 name="password"
                 formControlName="password"
                 id="password"/>
        </mat-form-field>
        <app-action-button buttonLabel="Login" [processing]="authenticating"></app-action-button>
        <p><a [routerLink]="forgotPasswordUrl">Passwort vergessen?</a></p>
      </form>
      <p>Die Anmeldefrist ist abgelaufen. Meldet euch bei <a href="mailto:info@zkmf2024.ch">info@zkmf2024.ch</a>, falls ihr euch doch noch anmelden wollt.</p>
    </mat-card-content>
  </mat-card>
</div>
