@use "../../variables";
@import "../../responsive";

.upload-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.upload-container {
  margin-bottom: 1em;

  ngx-dropzone {
    width: 49%;

    &.ngx-dz-hovered {
      border-color: variables.$gruen;
    }
  }

  img {
    max-height: 180px;
  }
}

@include responsive('lt-sm') {
  .upload-container {
    flex-direction: column;

    ngx-dropzone {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    img {
      max-width: 100%;
      max-height: unset;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}
