@use "../../variables";
@import "../../responsive";

.max-width-container {
  padding: variables.$padding;
}

.loading-indicator {
  height: 4px;
}

h2 {
  display: flex;
  flex-direction: row;
  gap: variables.$padding;
  align-items: center;

  .mat-icon {
    &.done {
      color: variables.$gruen;
    }
  }
}

.upload-container {
  display: flex;
  flex-direction: row;
  gap: variables.$padding;
  margin-top: variables.$padding;
  margin-bottom: variables.$padding;

  ngx-dropzone {
    width: 100%;

    &.ngx-dz-hovered {
      border-color: variables.$gruen;
    }
  }

  img {
    max-height: 180px;
  }

  .image-container {
    position: relative;

    .delete-image {
      position: absolute;
      left: 5px;
      top: 5px;
      background-color: white;
      border-radius: 5px;
      cursor: pointer;
    }
  }

}

.anmeldung-container {
  display: flex;
  flex-direction: row;
  gap: variables.$padding;

  > div {
    flex: 1 1 0;
  }

  .selection {
    display: flex;
    flex-direction: column;
  }
}

.form-layout {
  align-items: baseline;
}

.button-container {
  display: flex;
  gap: variables.$padding;
  align-items: baseline;
}

.action-column {
  flex: 0 0 100px;
}

.valid {
  color: variables.$gruen;
}

.invalid {
  color: variables.$rot;
}

.spacer {
  width: 24px;
  display: inline-block;
}

.titel-table {
  width: 100%;
  margin: variables.$padding 0;

  th {
    text-align: left;
  }
}

@include responsive('lt-sm') {
  .anmeldung-container {
    flex-direction: column;
  }

  .button-container {
    flex-direction: column;
  }

  .upload-container {
    flex-direction: column;
    gap: variables.$padding;

    ngx-dropzone {
      &:not(:last-child) {
        margin-bottom: variables.$padding;
      }
    }

    img {
      max-width: 100%;
      max-height: unset;

      &:not(:last-child) {
        margin-bottom: variables.$padding;
      }
    }
  }
}
