<div>
  <app-header header="ZKMF2024 - Vereinsbereich"></app-header>

  <mat-card *ngIf="verein">
    <mat-card-title>{{verein.vereinsname}}</mat-card-title>
    <mat-card-content fxLayout="row">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [value]="verein.vereinsname"
               disabled="true">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="text"
               autocomplete="off"
               matInput
               [value]="verein.email"
               disabled="true">
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!verein && !notFound">
    <mat-card-content fxLayout="row">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="notFound">
    <mat-card-content fxLayout="row">
      <p>Es wurde kein Verein für diesen Login gefunden.</p>
    </mat-card-content>
  </mat-card>
</div>
