<div>
  <app-header header="ZKMF2024 - Vereinsbereich"></app-header>
  <div class="loading-indicator">
    <mat-progress-bar mode="indeterminate" color="accent"
                      *ngIf="(!verein && !notFound && !error) || saving || confirming || uploading"></mat-progress-bar>
  </div>

  <div class="max-width-container" *ngIf="verein">
    <h2>Herzlich willkommen bei der Anmeldung für das ZKMF 2024</h2>
    <p class="button-container">
      <button mat-flat-button color="primary" (click)="openFestkartenDialog()">Festkartenpreise</button>
      <button mat-stroked-button color="primary" (click)="openInfoDialog()">Allgemeine Informationen</button>
      <button mat-flat-button color="primary"
              *ngIf="canConfirmRegistration()"
              [disabled]="unsavedChanges || confirming"
              (click)="confirmRegistration()">Definitiv anmelden
      </button>
    </p>

    <div class="einsatzzeiten" *ngIf="hasTimetableEntries">
      <p><b>Informationen ZKMF2024</b>: <a href="https://www.zkmf2024.ch/vereine/informationen.pdf" target="_blank">PDF</a></p>

      <h3>Einsatzzeiten</h3>

      <div class="timetable-grid padding-bottom">
        <ng-container *ngFor="let entry of verein.timetableEntries">
          <div>{{ entry.date | date: 'EEEE' }}</div>
          <div>{{ entry.time }}</div>
          <div>{{ entry.typeDescription }}</div>
          <div>{{ entry.competition }}</div>
          <div><a [href]="entry.location.googleMapsAddress" target="_blank">{{ entry.location.name }}</a> (<b>{{ entry.location.mapId }}</b>)</div>
          <div>&nbsp;</div>
        </ng-container>
      </div>
      @if (verein.instrumentenDepot) {
        <p>
          <b>Instrumentendepot</b>: <a [href]="verein.instrumentenDepot.googleMapsAddress" target="_blank">{{ verein.instrumentenDepot.name }}</a> (<b>{{ verein.instrumentenDepot.mapId }}</b>)
          @if (verein.instrumentenDepotParademusik && verein.instrumentenDepot.id !== verein.instrumentenDepotParademusik.id) {
            und <a [href]="verein.instrumentenDepotParademusik.googleMapsAddress" target="_blank">{{ verein.instrumentenDepotParademusik.name }}</a> (<b>{{ verein.instrumentenDepotParademusik.mapId }}</b>)
          }
        </p>
      }
      <div><b>Mittagessen</b>: {{ verein.lunchTime | slice: 0 : 5 }} Uhr im
        <a href="https://www.google.com/maps?q=47.386092494172,8.424727317603" target="_blank">Festzelt Urdorf</a> (<b>FU</b>)
        (bitte pünktlich erscheinen)
      </div>
    </div>
    <p *ngIf="hasTimetableEntries && hasErrata">&nbsp;</p>

    <div class="errata" *ngIf="hasErrata">
      <h3>Errata</h3>
      <div *ngFor="let err of verein.errata">
        <strong>{{ err.description }}</strong><br/>
        <div style="white-space: pre-wrap;">{{ err.text }}</div>
      </div>
    </div>

    <app-messages [messages]="verein.messages"/>

    @if (showFesthymne) {
      <p>&nbsp;</p>
      <h2>Festhymne</h2>
      <ul>
        <li><a href="https://www.zkmf2024.ch/contrasts/contrasts.mp3" download target="_blank">Aufnahme</a> (MP3, 8 MB)</li>
        @if (brassBand) {
          <li><a href="https://www.zkmf2024.ch/contrasts/brass-band-parts.pdf" download target="_blank">Noten (Parts)</a> (PDF)</li>
          <li><a href="https://www.zkmf2024.ch/contrasts/brass-band-score.pdf" download target="_blank">Noten (Score)</a> (PDF)</li>
        } @else {
          <li><a href="https://www.zkmf2024.ch/contrasts/concert-band-parts.pdf" download target="_blank">Noten (Parts)</a> (PDF)</li>
          <li><a href="https://www.zkmf2024.ch/contrasts/concert-band-additional.pdf" download target="_blank">Noten (Additional Parts)</a> (PDF)</li>
          <li><a href="https://www.zkmf2024.ch/contrasts/concert-band-score.pdf" download target="_blank">Noten (Score)</a> (PDF)</li>
        }
      </ul>
    }

    <p>&nbsp;</p>
    <h2>Sechseläuten-Marsch</h2>
    <ul>
      <li><a href="https://www.zkmf2024.ch/vereine/sechselaeuten-marsch.zip" download target="_blank">Noten</a></li>
    </ul>

    <p>&nbsp;</p>

    <h2>Phase 4 (bis 01.04.2024)
      <app-phase-status [status]="verein.phase4Status"></app-phase-status>
    </h2>
    <app-phase4 [detail]="verein.anmeldungDetail"
                [showStageSetup]="hasStageSetup"
                [saving]="saving"
                [unsavedChanges]="unsavedChanges"
                [readOnly]="phase4ReadOnly"
                [stageSetupReadonly]="stageSetupReadOnly"
                (changed)="onChange()"
                (doSave)="save(false)"></app-phase4>

    <p>&nbsp;</p>

    <h2>Phase 1 (bis 30.06.2023)
      <app-phase-status [status]="verein.phase1Status"></app-phase-status>
    </h2>
    <app-phase1 [verein]="verein"
                [saving]="saving"
                [uploading]="uploading"
                [anmeldungDisabled]="anmeldungDisabled"
                [unsavedChanges]="unsavedChanges"
                (changed)="onChange()"
                (doSave)="save(false)"
                (doUpload)="upload($event)"
                (doDeleteImage)="deleteImage($event)"></app-phase1>

    <p>&nbsp;</p>

    <div *ngIf="phase2Enabled">
      <h2>
        <span *ngIf="everyModulC">Phase 2 (bis 01.04.2024)</span>
        <span *ngIf="!everyModulC">Phase 2 (bis 30.09.2023<span *ngIf="someModulC">, Modul C bis 01.04.2024</span>)</span>
        <app-phase-status [status]="verein.phase2Status"></app-phase-status>
      </h2>

      <app-phase2 [verein]="verein"
                  [saving]="saving"
                  [unsavedChanges]="unsavedChanges"
                  [readOnly]="phase2ReadOnly"
                  (changed)="onChange()"
                  (doSave)="save(true)"></app-phase2>
    </div>
  </div>

  <mat-card appearance="outlined" *ngIf="notFound">
    <mat-card-content>
      <p>Es wurde kein Verein für diesen Login gefunden.</p>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="error">
    <mat-card-content>
      <p>Ein Fehler ist aufgetreten.</p>
    </mat-card-content>
  </mat-card>
</div>
