<div>
  <app-header header="ZKMF2024 - Email bestätigen"></app-header>
  <mat-card appearance="outlined" *ngIf="verifying">
    <mat-card-content>
      <p>Die Email wird bestätigt...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="error">
    <mat-card-content>
      <p>Die Email konnte nicht bestätigt werden.</p>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" *ngIf="success">
    <mat-card-content>
      <h2>Email erfolgreich bestätigt!</h2>
      <p>Zum <a [routerLink]="loginUrl">Login</a></p>
    </mat-card-content>
  </mat-card>
</div>
