<div>
  <div class="form-layout">
    <mat-form-field appearance="outline">
      <mat-label>Vorname</mat-label>
      <input type="text"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.vorname"
             required
             maxlength="255">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nachname</mat-label>
      <input type="text"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.nachname"
             required
             maxlength="255">
    </mat-form-field>
  </div>

  <div class="form-layout">
    <mat-form-field appearance="outline">
      <mat-label>Adresse</mat-label>
      <input type="text"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.adresse"
             required
             maxlength="255">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>PLZ</mat-label>
      <input type="number"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.plz"
             required
             maxlength="4"
             min="0"
             max="9999">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ort</mat-label>
      <input type="text"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.ort"
             required
             maxlength="255">
    </mat-form-field>
  </div>

  <div class="form-layout">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.email"
             required
             maxlength="255">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefon privat</mat-label>
      <input type="tel"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.telefonPrivat"
             maxlength="255">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefon mobile</mat-label>
      <input type="tel"
             autocomplete="off"
             matInput
             [(ngModel)]="kontakt.telefonMobile"
             maxlength="255">
    </mat-form-field>
  </div>
</div>
