<div>
  <app-header header="Passwort vergessen"></app-header>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Passwort wiederherstellen
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="requested">
      <p>Eine Email mit den Informationen zur Passwort-Wiederherstellung wurde an {{ email }} gesendet.</p>
    </mat-card-content>
    <mat-card-content *ngIf="!requested">
      <p>Gib die Email an, welche zur Registrierung des Vereins verwendet wurde, damit wir dir ein neues Passwort
        zustellen können.</p>
      <div class="container">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Email</mat-label>
          <input type="email"
                 autocomplete="off"
                 matInput
                 name="email"
                 id="email"
                 [(ngModel)]="email"
                 required/>
        </mat-form-field>

        <app-action-button buttonLabel="Neues Passwort anfragen"
                           [processing]="requesting"
                           (buttonClicked)="requestPasswordReset()"></app-action-button>
      </div>
    </mat-card-content>
  </mat-card>
</div>

