@use "@angular/material" as mat;
@use "variables";
@import "@angular/cdk/overlay-prebuilt.css";
@import "src/zkmf2024-theme";
@import "responsive";

@include mat.all-component-typographies();
@include mat.core();

@include mat.all-component-themes($zkmf2024-theme);

html, body {
  height: 100%;
}

body {
  margin: 0;
}

.mat-grid-tile-content {
  align-items: flex-start !important;
  justify-content: left !important;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-card {
  margin: 1em;
}

.form-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: variables.$padding;

  > * {
    flex: 1;
  }
}

@include responsive('lt-sm') {
  .form-layout {
    flex-direction: column;
    gap: 0;
  }
}

.success {
  color: variables.$papier;
  background-color: variables.$gruen;
}

.info {
  color: variables.$papier;
  background-color: variables.$violett;
}

.error {
  color: variables.$papier;
  background-color: variables.$rot;
}

.show-gt-sm {
  display: none;

  @include responsive('gt-sm') {
    display: inherit;
  }
}

.hide-gt-sm {
  @include responsive('gt-sm') {
    display: none;
  }
}
