@use '@angular/material' as mat;
@import "@angular/cdk/overlay-prebuilt.css";
@import 'src/zkmf2024-theme';

@include mat.all-component-themes($zkmf2024-theme);

html, body {
  height: 100%;
  background-color: $zkmf2024-silber;
}

body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

a {
  color: $zkmf2024-hellblau;
}

.mat-grid-tile-content {
  align-items: flex-start !important;
  justify-content: left !important;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin: 1em;
}

.form-layout-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  mat-form-field {
    width: 49%;
  }
}

.form-layout-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  mat-form-field {
    width: 32%;
  }
}

.success {
  color: $zkmf2024-papier;
  background-color: $zkmf2024-gruen;
}

.info {
  color: $zkmf2024-papier;
  background-color: $zkmf2024-violett;
}

.error {
  color: $zkmf2024-papier;
  background-color: $zkmf2024-rot;
}

@media screen and (max-width: 600px) {
  .form-layout-2, .form-layout-3 {
    flex-direction: column;

    mat-form-field {
      width: 100%;
    }
  }
}
