$blau: #005cb9;
$rot: #fc661c;
$gelb: #ffc700;
$hellblau: #00a4fe;
$gruen: #0cc38d;
$violett: #aa6dd3;
$papier: #f2f4f6;
$silber: #dadbdd;
$bronze: #dbba8f;
$black: rgba(#000, 0.87);
$padding: 16px;
$padding-half: 8px;
