@use "@angular/material" as mat;
@use "variables";

$zkmf2024-palette: (
  50: #e2f1fc,
  100: #b8dbf9,
  200: #8bc5f5,
  300: #5daef1,
  400: #379def,
  500: #048dec,
  600: #057fde,
  700: #026dcb,
  800: variables.$blau,
  900: #003f9a,
  contrast: (
    50: variables.$black,
    100: variables.$black,
    200: variables.$papier,
    300: variables.$papier,
    400: variables.$papier,
    500: variables.$papier,
    600: variables.$papier,
    700: variables.$papier,
    800: variables.$papier,
    900: variables.$papier,
  )
);

$zkmf2024-palette-accent: (
  50: #fff7e1,
  100: #ffe9b3,
  200: #ffdb83,
  300: #ffce52,
  400: #ffc230,
  500: #ffb81c,
  600: #ffaa19,
  700: #ff971b,
  800: #fe861b,
  900: variables.$rot,
  contrast: (
    50: variables.$black,
    100: variables.$black,
    200: variables.$black,
    300: variables.$black,
    400: variables.$black,
    500: variables.$black,
    600: variables.$black,
    700: variables.$black,
    800: variables.$black,
    900: variables.$black,
  )
);

$zkmf2024-primary: mat.define-palette($zkmf2024-palette, 800);
$zkmf2024-accent: mat.define-palette($zkmf2024-palette-accent, 900);
$zkmf2024-typography: mat.define-typography-config(
  $font-family: 'Poppins',
);

$zkmf2024-theme: mat.define-light-theme((
  color: (
    primary: $zkmf2024-primary,
    accent: $zkmf2024-accent,
  ),
  typography: $zkmf2024-typography,
  density: 0,
));
