@use "sass:map";
@use "@angular/material" as mat;
@use "../../variables";

span {
  color: variables.$rot;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: variables.$padding-half;
}
